body {
  margin: 0;
  padding: 0;
  font: 15px "Segoe UI", "Malgun Gothic", NanumGothic, AppleGothic, sans-serif;
  color: #333;
}
a:hover {
  text-decoration: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
}
.btn-lg,
.btn-group-lg>.btn,
.btn {
  border-radius: 0;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.navbar-default {
  padding: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: inherit;
}
.navbar-default .navbar-nav>li>a {
  margin: 0 4px;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  margin: 0 30px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background: transparent;
  color: inherit;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background: #0b6bc4;
  color: inherit;
}
.navbar {
  margin: 0;
  border: 0;
  background: #444;
  color: #fff;
}
.nav-tabs {
  border: 0;
}
.nav-tabs>li {
  margin: 12px 6px;
  margin-left: 0;
  margin-top: 0;
}
.nav-tabs>li>a {
  border: 0;
  color: inherit;
  border-radius: 0;
  background: transparent;
  margin-right: 5px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav>li>a:hover,
.nav>li>a:focus {
  background: #0b6bc4;
  border: 0;
  color: inherit;
  border-radius: 0;
}
.form-control {
  border-radius: 0;
  border-width: 2px;
  box-shadow: none;
}
.top-subnav {
  min-height: 120px;
}
.btn-icon {
  margin: 5px 5px;
  width: 80px;
  height: 90px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}
.btn-icon span.text {
  margin-top: 8px;
  display: block;
  color: #444;
  clear: both;
}
.btn-icon span.glyphicon {
  padding-top: 9px;
  width: 50px;
  height: 50px;
  font-size: 28px;
  border: 2px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  display: block-inline;
  color: #fff;
}
.tooltip {
  font-size: 14px;
  min-width: 200px;
}
.tooltip-inner {
  font-size: 14px;
  text-align: left;
}
div > .btn-icon:last-child {
  margin-right: -5px;
}
div > .btn-icon:first-child {
  margin-left: -5px;
  margin-right: 5px;
}
.btn-icon:hover span.glyphicon,
.btn-icon:focus span.glyphicon {
  background: rgba(255,255,255,0.05);
}
.btn-icon:active span.glyphicon {
  background: rgba(255,255,255,0.4);
}
.btn-icon:hover,
.btn-icon:focus {
  text-decoration: none;
}
.navbar-nav>li>.dropdown-menu {
  border-radius: 0;
}
.modal {
  color: #444;
}
.modal-xl {
  width: 1400px;
}
.modal-header {
  border: 0;
}
.modal-content {
  position: relative;
  border-radius: 0;
  box-shadow: none;
}
.modal-footer {
  border: 0;
}
.modal .form-control {
  border: 2px solid #777;
}
.help-block {
  color: #444;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.cb {
  clear: both;
  overflow: hidden;
}
map area :hover {
  background: #000;
}
a {
  color: #444;
}
label {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  margin: 10px;
}
area {
  cursor: pointer;
}

.btn.btn-circle {
  position: relative;
  padding: 0;
  display: inline-block;
  width: 70px; height: 70px;
  border-radius: 35px;
  overflow: hidden;
}

.btn.btn-circle span {
  padding: 0;
  margin: -30px;
  position: absolute; top: 50%; left: 50%;
  display: inline-block; width: 60px; height: 60px;
  border-radius: 35px;
  font-size: 34px; line-height: 60px;
  background: #fff;
  color: #000;
}

.md-navbar-search {
  margin: 6px 0;
  border: 2px solid #fff;
}
.md-navbar-search .form-group {
  float: left;
}
.md-navbar-search .form-control {
  border: 0;
}
.md-navbar-search > button {
  float: left;
  border: 1px solid transparent;
}

.md-area {
  margin: 30px 0; margin-top: 30px;
}
.md-area > :first-child {
  margin-right: 20px;
}
.md-area > a {
  float: left;
}
.md-area > h1 {
  font-size: 28px;
  font-weight: 400;
  float: left;
  clear: right;
}
.md-area > h1.big {
  font-size: 48px;
}
.md-area > h1 > a {
  color: #444;
}
.md-area > h1 > a:hover {
  color: #444;
}
.md-area.magenta,
.md-area.magenta > h1 > a,
.md-area.magenta > h1 > a:hover {
  color: #ab1142;
}
.md-area.orange,
.md-area.orange > h1 > a,
.md-area.orange > h1 > a:hover {
  color: #d24726;
}
.md-area.skyblue,
.md-area.skyblue > h1 > a,
.md-area.skyblue > h1 > a:hover {
  color: #008198;
}
.md-area.green,
.md-area.green > h1 > a,
.md-area.green > h1 > a:hover {
  color: #08893e;
}
.md-area.grassgreen,
.md-area.grassgreen > h1 > a,
.md-area.grassgreen > h1 > a:hover {
  color: #14826d;
}
.md-area > h1 > a > span.glyphicon {
  font-size: 16px;
}
.md-area > h1 em {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.md-area .form-horizontal {
  margin: 20px 0;
  clear: both;
}
.md-area .form-horizontal .form-group {
  margin: 10px 0;
}
.md-area .form-horizontal .form-group label {
  text-align: left;
}
.md-area > p {
  margin: 10px 0;
  clear: both;
  font-size: 1.8rem;
  line-height: 1.667;
}
.md-area > p.small {
  font-size: 1.4rem;
}
.md-area > pre {
  clear: both;
}
.md-area .md-thumbnail {
  margin: 10px 0; padding: 10px 0;
}
.md-area .md-thumbnail > img {
  width: 100%;
}
.md-area .date {
  display: block;
}

.md-list {
  margin: 20px 0; padding: 0;
  overflow: hidden;
  width: inherit;
  clear: both;
  float: left;
  width: 100%;
}

.md-list-item {
  margin: 0; margin-top: 0; padding: 0;
  position: relative;
  overflow: hidden;
  min-height: 1px;
  display: block;
  float: left;
  cursor: pointer;
}
.md-list-item > article,
.md-list-item > div {
  position: relative;
  margin: 15px; margin-top: 0; margin-left: 0;
  background: #fff;
  background: rgba(0, 0, 0, 0);
  color: #444;
  border: 0px solid transparent;
  overflow: hidden;
  height: 140px;
}
.md-list.big .md-list-item > article,
.md-list.big .md-list-item > div {
  height: 220px;
}

.md-list-item > div:hover {
  border-color: #fff; border-color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.1);
  color: #444;
}
.md-area.magenta .md-list-item > div {
  color: #ab1142;
}
.md-area.orange .md-list-item > div {
  color: #d24726;
}
.md-area.skyblue .md-list-item > div {
  color: #008198;
}
.md-area.green .md-list-item > div {
  color: #08893e;
}
.md-area.grassgreen .md-list-item > div {
  color: #14826d;
}
.md-list.col-1 .md-list-item {
  width: 100%;
}
.md-list.col-2 .md-list-item {  
  width: 50%;
}
.md-list.col-3 .md-list-item {
  width: 33.33333333%;
}
.md-list.col-4 .md-list-item {
  width: 25%;
}

.md-list-item-text {
  float: left;
  width: 100%;
}

.md-list-item-text > h2 {
  display: block;
  margin: 10px 6px; padding: 0;
  font-size: 24px;
}
.md-list-item-text > p {
  margin: 6px; padding: 0;
  font-size: 1.8rem;
}

.md-list-item-icon {
  position: relative;
  margin: 5px 10px; margin-left: 5px; padding: 0;
  float: left;
  width: 40%; height: 150px;
  z-index: 1000;
  overflow: hidden;
}
.md-list-item-icon > img {
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  z-index: 1000;
}

.full .md-list-item-icon {
  margin: 0; margin-bottom: 10px;
  width: 100%;
}

.full .md-list-item-icon > img {
}

.md-masthead {
  margin: 20px 0; margin-top: 0; padding: 5px 0;
  background: #222;
  color: #fff;
}
.md-masthead.margin {
  margin: 15px 0; padding: 20px 0;
  background: #333;
}
.md-masthead h1 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}
.md-masthead h1 > span {
  font-size: 2.2rem;
}
.md-masthead p {
  font-size: 18px;
}

.footer {
  margin: 0; margin-top: 40px; padding: 40px 0;
  background: #ddd;
  font-size: 14px;
}

.md-modal {
}
.md-modal.fullscreen {
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
  z-index: 800;
}
.md-modal .modal-dialog {
  position: absolute; top: 50%;
  margin: 0; margin-top: -270px;
  width: 100%; height: 540px;
  overflow: hidden;
  background: #fff;
}
.md-modal.fullscreen .modal-dialog {
  top: 0; left: 0; right: 0; bottom: 0;
  margin: 0;
  width: auto; height: auto;
  background: #444;
  z-index: 800;
}
.md-modal .modal-content {
  margin: 0 auto;
  width: 900px;
  border: 0;
}
.md-modal.fullscreen .modal-content {
  width: auto; height: 100%;
  z-index: 800;
}
.md-modal .modal-header {
  padding: 15px 0;
}
.md-modal.fullscreen .modal-header {
  position: absolute; top: 0; left: 0; right: 0;
  height: 60px;
  padding: 5px;
  z-index: 1000;
}
.md-modal .modal-title {
  font-size: 32px;
}
.md-modal .modal-body {
  padding: 15px 0;
}
.md-modal.fullscreen .modal-body {
  padding: 0;
  position: absolute; top: 0; left: 0; right: 0; bottom: 60px;
}
.md-modal.fullscreen .modal-body > iframe {
  width: 100%; height: 100%;
}
.md-modal .modal-footer {
  padding: 5px;
}
.md-modal.fullscreen .modal-footer {
  position: absolute; left: 0; right: 0; bottom: 0;
  height: 60px; 
  padding: 15px 5px;
}
.md-modal .form-horizontal .form-group {
  margin: 0; padding: 10px 0;
}
.md-modal .form-horizontal .form-group label {
  text-align: left;
}
.md-modal .form-horizontal .form-group label .require {
  color: red;
}

.footer-logo {
}
.footer-logo > h1 {
  margin: 0; padding: 0;
}

.footer-sitemap {
}
.footer-sitemap > h3 {
  margin: 0; padding: 0;
  font-size: 24px;
}
.footer-sitemap > ul {
  margin: 10px 0; padding: 0;
  list-style: none;
}
.footer-sitemap > ul > li {
  margin: 0 70px; margin-left: 0; padding: 0;
  display: block;
  float: left;
}
.footer-sitemap > ul > li > h4 {
  font-size: 18px;
}
.footer-sitemap > ul > li > ul {
  margin: 0; margin-left: 0; padding: 0;
  list-style: none;
}
.footer-sitemap > ul > li > ul > li {
  margin: 0; margin-left: 0; padding: 0;
  list-style: none;
}
.footer-sitemap > ul > li > ul > li > a {
  margin: 4px 0; padding: 0;
  display: block;
}

.footer-copyright {
  text-align: right;
}

#status {
  margin: 0 20px;
}